*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

/* HEADER */

header{
    position:fixed ;
    z-index: 1;
    height: 75px;
    width: 100%;
}

.content-h>img{ 
    height: 60px;
}

.after{
    display: none;

}

#basic-addon1{
    border-right: none;
}
.fa-magnifying-glass{
    border-left: none;
}
.search-bg{
    background-color:#E5E5E5 ;
}
/* SIDEBAR */

#sidebar{
    width: 75px;
    height: calc(100% - 75px);
    background-image: url(../img/sidebar-bg.png);
    border: 1px;
    bottom: 0;
    background-color: #051E34;
    position: fixed;
}
.sidebar-top{
    position: absolute;
    top:0;
    left: 25px;
}
.sidebar-bottom{
    position: absolute;
    bottom: 0;
    left: 25px;
}

/* MAIN */

.container-main{
    width: calc(100% - 75px);
    height: calc(100% - 75px);
    bottom: 0;
    right: 0;
    position: absolute;
    overflow-y: auto;
}

.bg{
    background-color: #1B72E8;
}
td>img{
    width: 15px;
}
.icon:hover {
    background-color: rgba(211, 211, 211, 0.534);
}
.icon-b:hover {
    background-color: rgba(211, 211, 211, 0.534);
}
.off{
    width: 40px;
    height: 40px;
    border: 1px solid white;
    border-radius: 10px;
    margin-bottom: 10px;
}
.table th:nth-child(1), .table td:nth-child(1){
    width: 50%;
}
.table th:not(:nth-child(1)), .table td:not(:nth-child(1)){
    width: calc(50% / 4);
}
.table th:not(:nth-child(1)), .table td:not(:nth-child(1)){
    text-align: center;
}
/* OFFCANVAS */

#offcanvasExample{
    width: 100%;
}

/* MEDIA QUERY */
@media screen and (min-width: 768px){
    #offcanvasExample{
        width: 50%;
    }
}

@media screen and (min-width: 991px){
    .before{
        display: none;
    }
    .after{
        display: block;
        width: 70%;
    }
  
    #sidebar{
        width: 150px;
    }
    .container-main{
        width: calc(100% - 150px);
    }
    th{
        width:60%
    }

}