*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

/* HEADER */

header{
    position:fixed ;
    z-index: 1;
    height: 75px;
    width: 100%;
}

.content-h>img{ 
    height: 60px;
}

.after{
    display: none;
}

/* SIDEBAR */

#sidebar{
    width: 75px;
    height: calc(100% - 75px);
    background-image: url(../img/sidebar-bg.png);
    border: 1px;
    bottom: 0;
    background-color: #051E34;
    position: fixed;
}

/* MEDIA QUERY */

@media screen and (min-width: 991px){
    .before{
        display: none;
    }
    .after{
        display: block;
        width: 100%;
    }
}